<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des catégories</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<div th:replace="~{home :: header}"></div>
<div class="background-opacity">
    <h1>Liste des catégories</h1>
    <table>
        <thead>
        <tr>
            <th>Nom de la Catégorie</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="categorie : ${categories}">
            <td th:text="${categorie.getNom()}"></td>
            <td>
                <a th:href="@{/categorie/{id}(id=${categorie.getId()})}" class="detail-btn">Détails</a>
            </td>

        </tbody>
    </table>
    <a th:href="@{/categorie/add}" class="add-recette-btn">Ajouter une catégorie</a>
</div>
</body>
</html>